<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqsy.onlinetool.mapper.OnlineAppMapper" >

  <resultMap id="BaseResultMap" type="com.zqsy.onlinetool.model.OnlineApp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="OnlineAppVo" type="com.zqsy.onlinetool.vo.OnlineAppVo" extends="BaseResultMap">
    <collection column="id" property="needList" select="com.zqsy.onlinetool.mapper.OnlineNeedMapper.selectByAppId"></collection>
    <collection column="id" property="fileList" select="com.zqsy.onlinetool.mapper.FileMapper.selectByAppId"></collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, phone, email, date, time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from online_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from online_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zqsy.onlinetool.model.OnlineApp" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
    insert into online_app (id, name, phone,
      email, date, time, version
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{date,jdbcType=BIGINT}, #{time,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zqsy.onlinetool.model.OnlineApp" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT last_insert_id()
    </selectKey>
    insert into online_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zqsy.onlinetool.model.OnlineApp" >
    update online_app
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zqsy.onlinetool.model.OnlineApp" >
    update online_app
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      date = #{date,jdbcType=BIGINT},
      time = #{time,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="OnlineAppVo">
    select
    <include refid="Base_Column_List" />
    from online_app
    <where>
      <if test="lastId != null">
        `id` &lt; #{lastId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>